.container {
  width: 70vw;
  height: 70vh;
  margin: auto;
  margin-top: 50px;
  background-color: orange;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  align-content: space-between;
  column-gap: 20px;
  overflow: auto;
}

.footer {
  display: none;
}

.item {
  width: 80px;
  height: 80px;
  background-color: pink;
  border: 1px solid black;
  font-size: 30px;
}

.container div:nth-child(even) {
  background-color: black;
}

@media screen and (max-width: 480px) {
  .container {
    background-color: red;
  }
  .footer {
    display: block;
  }
}
