* {
  margin: 0px;
}

.container {
  padding: 50px;
}

.card {
  height: 200px;
  border-bottom: 1px solid gray;
  margin-top: 20px;
}

.left {
  display: inline-block;
  height: 100%;
  width: 25%;
  vertical-align: top;
}

.right {
  background-color: #f3f3f3f3;
  display: inline-block;
  height: 100%;
  width: 74%;
}

.right p {
  line-height: 30px;
}

.no-border {
  border: none;
}
